.body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* overflow: hidden; */
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: #606266;  
  user-select: none;
}
div {
  margin: 0;
  padding: 0;
}

.button-on {
  background-color: #e9e9e9;
}

/* ========================== 头部 ========================== */

#header {
  position: relative;
  height: 37px;
  border-bottom: 1px solid #dfe2e5;
  padding: 11px 0;
  background-color: white;
  color: #606266;  
}

.header-left {
  margin: auto 0;
  margin-left: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header-left .header-item{
  margin-left: 16px;
}

.header-center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right {
  margin: auto 0;
  margin-right: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-right .header-item{
  margin-right: 16px;
}

.header-right .header-item >:hover,
.header-left .header-item >:hover,
i:hover{
  color: rgb(127,55,183);
}


.header-left .header-item:hover,
.header-center .header-item:hover,
.header-right .header-item:hover{
  border-bottom: 0px solid #606266;
}

.header-dropdown-item{
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left img,
.header-right img {
  margin: auto 0;
  width: 33px;
  height: 33px;
}

/* ============================= 工具栏 ============================== */

#toolbar {
  position: relative;
  height: 39px;
  margin: auto;
  background-color: #ffffff;
  font-size: 12px;
  min-width: 650px;
  border-bottom: 1px solid #dfe2e5;
}

.toolbar .toolbar-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
}

.toolbar .toolbar-center {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  right: 130px;
  overflow: hidden;
}

.toolbar .toolbar-center .slide-left {
  left: 0;
  top: 0;
  transform: rotate(181deg);
  width: 34px;
  border-left: 1px solid #f3f5f9;
  background-color: #f9f9f9;
}

.toolbar .toolbar-center .slide-right {
  right: 0;
  top: 0;
  border-left: 1px solid #f3f5f9;
  background-color: #f9f9f9;
}

.toolbar .tool-button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  padding: 2px;
  border-radius: 3px;
  flex-shrink: 0;
  cursor: pointer;
  font-size: medium;
}

.tool-button:hover {
  background-color: #e9e9e9;
}

.toolbar .toolbar-center .toolbar-container {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-left: 14px;
}

.toolbar .toolbar-right {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  padding-right: 10px;
  padding-left: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* ============================= main ============================== */

#main-box {
  position: relative;
  z-index: 1;
}

/* ============================= 资源面板 ============================== */

#resource {
  overflow: hidden;
  overflow-y: scroll;
  /* width: 250px; */
  /* padding: 30px; */
  padding-bottom: 0;
  left: -310px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  background-color: white;
  z-index: 1;
  /* border-left: 2px solid rgb(231, 231, 231); */
  transition: left 0.3s ease-out,right 0.3s ease-in;
}

.resource-box{
  padding: 20px;
  padding-bottom: 0;
  background-color: white;
}

.resource-item {
  margin-bottom: 30px;
}

.resource-title {
  margin-bottom: 10px;
  font-weight: 400;
}

.resource-key-value {
  margin-top: 5px;
  font-size: small;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ============================= 设计 ============================== */

#design-box {
  position: relative;
  margin-left: 250px;
  margin-right: 280px;
  padding-bottom: 25px;
  z-index: -1;
  transition: margin-right 0.4s,margin-left 0.4s;
}

#design {
  position: relative;
  height: 300px;
  overflow: scroll;
  background-color: #f1f1f1;
  z-index: -1;
}

.design-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* overflow: scroll; */
  background-color: #f1f1f1;
}

#canvas,
#canvasBackgroundImage {
  position: absolute;
  background-color: rgb(255, 255, 255);
}

/* ============================= 底部 ============================== */

#footer {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 24px;
  padding: 0;
  background: #ffffff;
  border-top: 1px solid #e9edf2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: right 0.3s ease-out;
  z-index: 1;
}

#footer .footer-left,
#footer .footer-right {
  display: flex;
  align-items: center;
}

#footer .footer-left .footer-item {
  padding: 2px;
  margin-left: 10px;
  position: relative;
}

#footer .footer-right .footer-item {
  padding: 2px;
  margin-right: 10px;
  position: relative;
}

#footer .footer-button:hover{
  background-color: #f1f1f1;
  border-radius: 2px;
}

/* ============================= 属性面板 ============================== */

#attribute {
  overflow: hidden;
  overflow-y: scroll;
  /* width: 250px; */
  /* padding: 30px; */
  padding-bottom: 0;
  right: -310px;
  top: 0px;
  bottom: 0px;
  position: absolute;
  background-color: white;
  z-index: 1;
  /* border-left: 2px solid rgb(231, 231, 231); */
  transition: right 0.3s ease-out;
}

.attribute-box{
  padding: 0 20px;
  padding-bottom: 0;
  background-color: white;
}

.attribute-item {
  margin-bottom: 30px;
}

.attribute-title {
  margin-bottom: 10px;
  font-weight: 400;
}

.attribute-key-value {
  margin-top: 5px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ============================= 右键菜单 ============================== */
#contextMenu {
  position: absolute;
  list-style-type: none;
  padding: 10px 8px;
  left: -150px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  font-size: 12px;
  color: #545454;
}
#contextMenu li {
  cursor: pointer;
  list-style-type:none;
  list-style: none;
  margin-left: 0px;
}
#contextMenu li:hover {
  color: #aaa;
}
/*css代码*/
#menu {
  position: absolute; /*自定义菜单相对与body元素进行定位*/
  width: 130px;
  left: 0;
  top: 0;
  overflow: hidden; /*隐藏溢出的元素*/
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  padding: 5px 5px;
  font-size: small;
  z-index: -9999;
}
#menu .menu-item {
  padding: 10px 10px;
  border-radius: 3px;
}
#menu .disable {
  color: #dcdfe6;
  pointer-events: none;
}
#menu .enable {
  pointer-events: all;
}
#menu .enable:hover {
  background-color: rgb(236, 245, 255);
}

/* ============================= 其他 ============================== */

.color-board {
  margin: 10px auto;
}
.color-board .color-box {
  width: 20px;
  height: 15px;
  margin: 2px;
  border: 1px solid white;
}
.color-board .color-box:hover {
  box-shadow: 0px 0px 10px 1px #f1f1f1;
}


/* 
<div class="progress">
  <div class="bar"></div>
  <div id="scale-slider" @mousedown="triggerScaleSliderMouseDown" class="slider"
    :style="'left:50%;'">
  </div>
</div>
*/
.progress {
  width: 100px;
  height: 16px;
  border-radius: 2px;
  position: relative;
  display: flex;
  align-items: center;
}
.progress .bar {
  width: 108px;
  height: 2px;
  background-color: #212930;
}
.progress .slider {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  top: 3px;
  left: 50%;
  cursor: pointer;
  border: 1px solid #212930;
}

.center-box{
  margin: auto;
  justify-content: center;
  align-items: center;
}